[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
madeira = {path = ".",editable = true}
madeira-utils = {path = "../madeira-utils",editable = true}

[packages]
madeira = {path = "."}

[requires]
python_version = "3.8"
