[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
madeira-utils-editable = {path = "./../madeira-utils",editable = true}

[packages]
madeira = {path = ".",editable = true}

[requires]
python_version = "3.8"
